[flake8]
# Base flake8 configuration:
# https://flake8.pycqa.org/en/latest/user/configuration.html
format=default
max-line-length=120

# wemake-python-styleguide settings:
# https://wemake-python-stylegui.de/en/latest/pages/usage/configuration.html
i-control-code = False

# Violations:
# See https://wemake-python-stylegui.de/en/latest/pages/usage/violations/index.html
ignore =
    I002,     # I002      No isort config file.
    Q000,     # Q000      Using " instead of '. Black automatically changes from ' to " so we must ignore
    D100,
    D101,
    D102,     # D...      Missing Docstring.
    D103,
    D107,
    E800,     # E800      Has Commented out code
    EXE002,   # EXE002    No Shebang
    C101,     # C101      No Magic Comment
    WPS421,   # WPS421    No Print Statements allowed
    WPS432,   # WPS432    Magic Numbers (Numbers that appear out of nowhere) arnt allowed
    WPS308    # WPS308    Not Allowed constant compare - required for cookiecutter jinja comparison

# Excluding some directories:
exclude =
    .git
    __pycache__
    .venv
    .eggs
    *.egg
