name: Pull Request

# Trigger the workflow on pull request to either master or develop branch
on:
  pull_request:
    branches:
      - master
      - develop

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    steps:
      - name: Clone Repo
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Get Full Python Version
        id: full-python-version
        shell: bash
        run: |
          echo ::set-output name=version::$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))")

      - name: Set up Poetry
        uses: Gr1N/setup-poetry@v2

      - name: Set up Cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/poetry
          key: cache-${{ runner.os }}-${{ steps.full-python-version.outputs.version }}

      - name: Check Poetry Lock File
        shell: bash
        run: |
          PYTHONPATH=$HOME/.poetry/lib:$HOME/.poetry/lib/poetry/_vendor/py3.8/ \
          python -c "from poetry.factory import Factory; l = Factory().create_poetry('.').locker; exit(0) if l.is_locked() and l.is_fresh() else exit(1)" \
          && echo 'poetry.lock is up to date.' || (echo 'poetry.lock is out of date. Run "poetry lock" to fix.'; exit 1)

      - name: Install Dependencies
        shell: bash
        run: |
          poetry config cache-dir ~/.cache/poetry
          poetry config http-basic.tec-pypi tec ${{ secrets.TEC_PYPI_PASSWORD }}
          poetry run python -m pip install pip --upgrade
          poetry install -vvv

      - name: Run Linting
        shell: bash
        run: |
          poetry run pre-commit run --all
          poetry run flake8 --format wemake
          poetry run mypy .

  testing:
    name: Testing
    needs: linting
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    steps:
      - name: Clone Repo
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Get Full Python Version
        id: full-python-version
        shell: bash
        run: |
          echo ::set-output name=version::$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))")

      - name: Set up Poetry
        uses: Gr1N/setup-poetry@v2

      - name: Set up Cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/poetry
          key: cache-${{ runner.os }}-${{ steps.full-python-version.outputs.version }}

      - name: Install Dependencies
        shell: bash
        run: |
          poetry config cache-dir ~/.cache/poetry
          poetry config http-basic.tec-pypi tec ${{ secrets.TEC_PYPI_PASSWORD }}
          poetry run python -m pip install pip --upgrade
          poetry install -vvv

      - name: Run Tests
        shell: bash
        run: |
          poetry run pytest
